#loading-popup {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1500;
	text-align: center;
	overflow: hidden;
}

#loading-popup-message {
	position:absolute;
	top:50%;
	left:50%;
	width: 150px;
	/* adjust top up half the height of a single line */
    margin-top: -0.5em;
    /* adjust left half the width */
    margin-left: -90px;
    background-color: #FFF;
    color: #333;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

#timer {
	text-align: center;
}

#stop-button {
	margin-top:17px;
}