/**
 * Config for App
 * Things you don't want to check in like server urls and
 * secret keys can go here
 */
(function(SPOKE, _) {
	_.extend(SPOKE, {
		config: {
			hostingUrl: 'http://example.org',
			popItUrl: 'http://example.popit.mysociety.org',
			filesDirectory: 'spoke'
		}
	});
	SPOKE.config.apiUrl = SPOKE.config.hostingUrl + "/api/v0.1/recording/";
})(SPOKE, _);