<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="css/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="css/spoke.css" />
        <title>Spoke</title>

        <!-- Templates -->

        <!-- Home Page -->
        <script type="text/template" id="home-template">

            <div data-role="header">
                <h1>Spoke</h1>
            </div>

            <div data-role="content">
                <p>
                    <a href="#recording" id="record-button" data-role="button" data-icon="plus">Record a new speech</a>
                </p>
                <div id="recordings"></div>
            </div>

        </script>

        <!-- Recordings list -->
        <script type="text/template" id="recordings-template">
            <h2>Recordings</h2>
            <ul data-role="listview" data-inset="true" id="recorded-speeches">
                <% if (recordings.isEmpty()) { %>
                    <li>There are no recordings yet</li>
                <% } else { %>
                    <% recordings.each(function(recording) { %>
                        <li><%= recording.get("name") %></li>
                    <% }); %>
                <% } %>
            </ul>
            <% if (!recordings.isEmpty()) { %>
                <p>
                    <a href="#" id="upload-button" data-role="button" data-icon="check">Upload</a>
                </p>
            <% } %>

        </script>

        <!-- Recording Controls Page -->
        <script type="text/template" id="recording-controls-template">

            <div data-role="header">
                <a href="#" data-icon="home">Home</a>
                <h1>Recording</h1>
            </div>

            <div data-role="content">
                <h2>Select a speaker to start recording</h2>
                <div id="speakers"></div>
                <p>
                    <div id="timer" style="display:none"></div>
                    <a href="#" id="stop-button" data-role="button" data-icon="delete" style="display:none">Stop</a>
                </p>
            </div>

        </script>

        <!-- Speakers list -->
        <script type="text/template" id="speakers-template">

            <ul data-role="listview" data-inset="true" id="speakers-list">
                <% if (speakers.isEmpty()) { %>
                    <li>There are no speakers yet</li>
                <% } else { %>
                    <% speakers.each(function(speaker) { %>
                        <li><a href="#" class="speaker" data-api-url="<%= speaker.get("api_url") %>"><%= speaker.get("name") %></a></li>
                    <% }); %>
                <% } %>
            </ul>

        </script>

        <!-- Timer -->
        <script type="text/template" id="timer-template">
            <h3 id="timer-text">
                <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
            </h3>
        </script>

        <!-- Scripts -->

        <!-- Global namespaced object which all of our custom functions will go into -->
        <script type="text/javascript">
            window.SPOKE = window.SPOKE || {};
        </script>

        <!-- Libraries -->
        <script src="js/lib/jquery-1.8.3.js"></script>
        <script src="js/lib/underscore-1.4.3.js"></script>
        <script src="js/lib/backbone-0.9.9.js"></script>   
        <script src="js/lib/backbone.localStorage-1.0.js"></script>     

        <!-- This file chooses which platform's version of Cordova to load (iOS or Android) -->
        <script src="cordova-2.2.0-independent.js"></script>

        <!-- Config for jQuery Mobile -->
        <script src="js/jqm-config.js"></script>   

        <!-- The App -->

        <!-- Config -->
        <script src="js/config.js"></script>

        <!-- Files Helper -->
        <script src="js/files.js"></script>

        <!-- Models -->
        <script src="js/models/recording.js"></script>
        <script src="js/models/speaker.js"></script>

        <!-- Collections -->
        <script src="js/collections/recordings.js"></script>
        <script src="js/collections/speakers.js"></script>

        <!-- Views -->
        <script src="js/views/home.js"></script>
        <script src="js/views/recordings.js"></script>
        <script src="js/views/recording-controls.js"></script>
        <script src="js/views/speakers.js"></script>
        <script src="js/views/timer.js"></script>

        <!-- Router -->
        <script src="js/router/router.js"></script>

        <!-- Main app entry point -->
        <script src="js/app.js"></script>

        <!-- jQuery Mobile goes after config so that everything is setup when it loads -->
        <script src="js/lib/jquery.mobile-1.2.0.js"></script>

    </head>
    <body></body>
</html>
    