<!DOCTYPE html>
<html>
    <head>
        <title>SPOKE App Tests</title>

        <!-- jasmine source -->
        <link rel="shortcut icon" type="image/png" href="spec/lib/jasmine-1.2.0/jasmine_favicon.png">
        <link rel="stylesheet" type="text/css" href="spec/lib/jasmine-1.2.0/jasmine.css">
        <script type="text/javascript" src="spec/lib/jasmine-1.2.0/jasmine.js"></script>
        <script type="text/javascript" src="spec/lib/jasmine-1.2.0/jasmine-html.js"></script>

        <script type="text/javascript" src="spec/lib/jasmine-jquery-1.4.2.js"></script>

        <!-- include source files here... -->

        <!-- Templates -->

        <!-- Home Page -->
        <script type="text/template" id="home-template">

            <div data-role="header">
                <h1>Spoke</h1>
            </div>

            <div data-role="content">
                <p>
                    <a href="#recording" id="record-button" data-role="button" data-icon="plus">Record a new speech</a>
                </p>
                <div id="recordings"></div>
            </div>

        </script>

        <!-- Recordings list -->
        <script type="text/template" id="recordings-template">
            <h2>Recordings</h2>
            <ul data-role="listview" data-inset="true" id="recorded-speeches">
                <% if (recordings.isEmpty()) { %>
                    <li>There are no recordings yet</li>
                <% } else { %>
                    <% recordings.each(function(recording) { %>
                        <li><%= recording.get("name") %></li>
                    <% }); %>
                <% } %>
            </ul>
            <% if (!recordings.isEmpty()) { %>
                <p>
                    <a href="#" id="upload-button" data-role="button" data-icon="check">Upload</a>
                </p>
            <% } %>

        </script>

        <!-- Recording Controls Page -->
        <script type="text/template" id="recording-controls-template">

            <div data-role="header">
                <a href="#" data-icon="home">Home</a>
                <h1>Recording</h1>
            </div>

            <div data-role="content">
                <h2 id="intro-title">Select a speaker to start recording</h2>
                <div id="speakers"></div>
            </div>

            <div data-role="footer" data-position="fixed">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div id="timer" style="display:none"></div>
                    </div>
                    <div class="ui-block-b">
                        <a href="#" id="stop-button" data-role="button" data-icon="delete" style="display:none">Stop</a>
                    </div>
                </div>
            </div>

        </script>

        <!-- Speakers list -->
        <script type="text/template" id="speakers-template">

            <ul data-role="listview" data-inset="true" id="speakers-list">
                <% if (speakers.isEmpty()) { %>
                    <li>There are no speakers yet</li>
                <% } else { %>
                    <% speakers.each(function(speaker) { %>
                        <li><a href="#" class="speaker" data-api-url="<%= speaker.get("meta").api_url %>"><%= speaker.get("name") %></a></li>
                    <% }); %>
                <% } %>
            </ul>

        </script>

        <!-- Timer -->
        <script type="text/template" id="timer-template">
            <h2 id="timer-text">
                <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
            </h2>
        </script>

        <!-- Global namespaced object which all of our custom functions will go into -->
        <script type="text/javascript">
            window.SPOKE = window.SPOKE || {};
        </script>

        <!-- Libraries -->
        <script src="js/lib/jquery-1.8.3.js"></script>
        <script src="js/lib/jquery.whenall.min.js"></script>
        <!-- This file chooses which platform's version of Cordova to load (iOS or Android) -->
        <!--<script src="cordova-2.2.0-independent.js"></script>-->
        <script src="js/lib/underscore-1.4.3.js"></script>
        <script src="js/lib/backbone-0.9.9.js"></script>
        <script src="js/lib/backbone.localStorage-1.0.js"></script>
        <script src="js/lib/moment-1.7.2.js"></script>

        <!-- Config for jQuery Mobile -->
        <!--<script src="js/jqm-config.js"></script>-->

        <!-- The App -->

        <!-- Config -->
        <script src="js/config.js"></script>

        <!-- Files Helper -->
        <script src="js/files.js"></script>

        <!-- Models -->
        <script src="js/models/recording.js"></script>
        <script src="js/models/speaker.js"></script>

        <!-- Collections -->
        <script src="js/collections/recordings.js"></script>
        <script src="js/collections/speakers.js"></script>

        <!-- Views -->
        <!--<script src="js/views/home.js"></script>-->
        <script src="js/views/recordings.js"></script>
        <script src="js/views/recording-controls.js"></script>
        <script src="js/views/speakers.js"></script>
        <script src="js/views/timer.js"></script>

        <!-- Router -->
        <!--<script src="js/router/router.js"></script>-->

        <!-- Main app entry point -->
        <script src="js/app.js"></script>

        <!-- jQuery Mobile goes after config so that everything is setup when it loads -->
        <!--<script src="js/lib/jquery.mobile-1.2.0.js"></script>-->

        <!-- include spec files here... -->

        <!-- Helper file for dealing with Phonegap APIs on desktop browsers -->
        <script type="text/javascript" src="spec/helper.js"></script>

        <!-- Specs which don't need the app started up -->
        <script type="text/javascript" src="spec/files.js"></script>

        <!-- Tests of the app startup -->
        <script type="text/javascript" src="spec/app.js"></script>

        <!-- Specs which test the app and need the environment already set up -->
        <script type="text/javascript" src="spec/recording-model.js"></script>
        <script type="text/javascript" src="spec/recordings-collection.js"></script>
        <script type="text/javascript" src="spec/recordings-view.js"></script>
        <script type="text/javascript" src="spec/speakers-collection.js"></script>
        <script type="text/javascript" src="spec/speakers-view.js"></script>
        <script type="text/javascript" src="spec/timer-view.js"></script>
        <script type="text/javascript" src="spec/recording-controls-view.js"></script>

        <script type="text/javascript">
            (function() {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;

                var htmlReporter = new jasmine.HtmlReporter();

                jasmineEnv.addReporter(htmlReporter);

                jasmineEnv.specFilter = function(spec) {
                    return htmlReporter.specFilter(spec);
                };

                var currentWindowOnload = window.onload;

                window.onload = function() {
                    if (currentWindowOnload) {
                        currentWindowOnload();
                    }
                    execJasmine();
                };

                function execJasmine() {
                    jasmineEnv.execute();
                }
            })();
        </script>
    </head>
    <body>
        <div id="stage" style="display:none;"></div>
    </body>
</html>
